<div class="dashboard-home-container">
  <h2>Bienvenue sur le Tableau de bord Enseignant !</h2>
  <div *ngIf="currentTeacher">
    <h3>{{ currentTeacher.userModel.first_name }} {{ currentTeacher.userModel.last_name }}</h3>
  </div>
  <p>Ceci est votre centre de gestion pour les classes, les années académiques, les termes et les notes des étudiants.</p>

  <div class="overview-cards">
    <div class="card">
      <h3>Année Académique Actuelle</h3>
      <p>2025-2026</p>
    </div>
    <div class="card">
      <h3>Terme Actif</h3>
      <p>Terme 1</p>
    </div>
    <div class="card">
      <h3>Mes Classes</h3>
      <p>Visualisez et gérez vos classes assignées.</p>
      <button class="btn btn-primary">Aller à Mes Classes</button>
    </div>
  </div>
</div>
