<div class="page-container">
  <div class="page-header">
    <h2 class="page-title">Liste des classes</h2>
    <button class="btn-primary" routerLink="/class">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
      </svg>
      Ajouter une classe
    </button>
  </div>

  <div class="card">
    <div *ngIf="loading" class="info-message">Chargement...</div>
    <div *ngIf="error" class="error-message">{{ error }}</div>

    <div class="class-list-container" *ngIf="classes.length">
      <div *ngFor="let classe of classes" class="class-table-card">
        <div class="class-header">
          <span class="class-name">{{ classe.name }}</span>
          <span class="class-level">{{ classe.level }}</span>
          <button class="info-btn" (click)="showInfo(classe)" title="Infos">
            <span class="info-icon">i</span>
          </button>
        </div>
        <table class="class-table">
          <thead>
          <tr>
            <th>Élève</th>
            <th>Note</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngIf="!classe.latest_student_session.length">
            <td colspan="2" class="empty-row">Aucun élève</td>
          </tr>
          <tr *ngFor="let student of classe.latest_student_session">
            <td>{{ student.student.user_model.first_name }}</td>
            <!--
                        <td>{{ student.grade !== null ? student.grade : 'N/A' }}</td>

            -->
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="!loading && !classes.length" class="info-message">Aucune classe trouvée.</div>
  </div>
</div>
