<div class="container mt-4">
  <h2 class="mb-4">Liste des élèves</h2>
  <table class="table table-bordered table-hover">
    <thead class="table-primary">
    <tr>
      <th>#</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Classe</th>
      <th>Email</th>
      <th>Téléphone</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ student.user?.firstName }}</td>
      <td>{{ student.user?.lastName }}</td>
      <td>{{ student.classModel?.name || 'Non attribuée' }}</td>
      <td>{{ student.user?.email }}</td>
      <td>{{ student.user?.phone }}</td>
      <td>
        <button class="btn btn-sm btn-info me-2">Voir</button>
        <button class="btn btn-sm btn-warning me-2">Modifier</button>
        <button class="btn btn-sm btn-danger">Supprimer</button>
      </td>
    </tr>
    </tbody>

  </table>

  <div class="text-end mt-3">
    <a class="btn btn-primary" routerLink="/student">+ Ajouter un élève</a>
  </div>
</div>
