<div class="container mt-4">
  <h3>Ajouter une classe</h3>
  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Nom de la classe</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>

    <div class="mb-3">
      <label for="academicYear" class="form-label">Année académique</label>
      <input type="text" id="academicYear" class="form-control" formControlName="academic_year" placeholder="2024-2025">
    </div>

    <button class="btn btn-success" type="submit">Enregistrer</button>
  </form>
</div>
