<div class="container mt-4">
  <h3>Ajouter une classe</h3>
  <form [formGroup]="classForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Nom de la classe</label>
      <input type="text" id="name" class="form-control" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="level" class="form-label">Niveau de la classe</label>
      <input type="text" id="level" class="form-control" formControlName="level" placeholder="Terminal">
    </div>
    <button class="btn btn-success" type="submit">Enregistrer</button>
  </form>
</div>
  <div *ngIf="success" class="alert alert-success mt-3">{{ success }}</div>
  <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>